#container{
    /* border:  2px solid rgb(0, 255, 149); */
   background: linear-gradient(to bottom, #f0f1ec, #dcdfce);
   /* min-height: 100vh; */
   /* padding-top: 60px; */
}
       
#jss1 {
   margin: 0 auto;
   max-width: 100%;
   margin-top: 100px;
 
}
#jss2 {
   padding: 0 20px 40px;
   z-index: 1;
   position: relative;
   background: #f7f8f5;
   /* border:  2px solid red; */
}
.jss6 {
   padding: 15px 0;
   border-bottom: 0.5px solid rgba(2,71,91,0.3);
   
   /* border:  2px solid rgb(0, 38, 255); */
}
.jss7 {
   
   margin: 0 10px 0 0;
   display: inline-flex;
   /* display: none; */
}
ol li{
   list-style: none;
}
a {
   text-decoration:none;
   text-decoration: none;
   color: inherit;
   outline: 0;
}
.jss8 {
   margin: 0;
   display: flex;
   padding: 0;
   list-style: none;
   align-items: center;
   font-size: 0px;
}
.jss8 li a {
   color: #fca317;
   padding: 0 4px 0 7px;
   position: relative;
   font-size: 17px;
   font-weight: bold;
   text-transform: capitalize;
}
.jss8 li a:after {
   top: 4px;
   right: -8px;
   border: 4px solid transparent;
   content: '';
   
   position: absolute;
   border-left-color: #00889e;
}
.jss8 li.active a {
   color: #007c93;
}
/* ///////////////////////////// */
#jss10{
 /* border: 1px solid #007c93;  */
 width: 100%; 
 display: flex;
}
#jss11{
 
   width: 100% ;
   margin-top:10px;
   width: 100%;
   display: flex;
   /* border: 1px solid #93002c;  */
   flex-wrap: wrap;
   box-sizing: border-box;
}

#jss111{
   /* border: 1px solid #007c93; */
   padding: 10px;
   flex-grow: 0;
   max-width: 60%;
   flex-basis: 60%;
   /* height: 500px; */
} 
.jss361 {
   padding: 20px;
   background: #fff;
   border-radius: 7px;
}
.jss351 {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.jss351 h1 {
   color: #007c93;
   font-size: 20px;
   font-weight: 600;
}
.jss360>div {
   padding: 0;
}


.jss376 {
   display: flex;
   padding: 10px 0;
   align-items: center;
}
.jss375 {
   width: 100%;
   height: 36px;
   display: flex;
   position: relative;
   align-items: center;
}
.jss375 img {
width: 23px;
height: 23px;
}


.jss374 {
   padding: 0 0 0 30px;
}

.MuiInput-root {
   position: relative;
}

.MuiInputBase-fullWidth {
   width: 100%;
}
.jss393 input {
   color: #01475b;
   font-size: 16px;
   font-weight: 500;
   padding-top: 9px;
}

.MuiInputBase-input {
   font: inherit;
   color: currentColor;
   width: 100%;
   border: 0;
   height: 1.1876em;
   margin: 0;
   display: block;
   padding: 6px 0 7px;
   min-width: 0;
   background: none;
   box-sizing: content-box;
   animation-name: mui-auto-fill-cancel;
   letter-spacing: inherit;
   animation-duration: 10ms;
   -webkit-tap-highlight-color: transparent;
}

.jss393:after {
   border-bottom: 2px solid #02475b;
}

/* .MuiInput-underline:after {
   left: 0;
   right: 0;
   bottom: 0;
   content: "";
   position: absolute;
   transform: scaleX(0);
   transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
   border-bottom: 2px solid #fcb716;
   pointer-events: none;
} */
.jss396 {
   width: 100%;
}
.jss397 {
   padding: 10px 0 0;
}
.jss397 h6 {
   font-size: 12px;
   font-weight: bold;
}


.MuiTypography-body1 {
   font-size: 1rem;
   font-family: IBM Plex Sans,sans-serif;
   font-weight: 400;
   line-height: 1.5;
}
.MuiInputBase-root {
   color: #02475b;
   cursor: text;
   display: inline-flex;
   position: relative;
   font-size: 1rem;
   box-sizing: border-box;
   align-items: center;
   font-family: IBM Plex Sans,sans-serif;
   font-weight: 400;
   line-height: 1.1876em;
 
}

/* element.style {
} */

.jss250 input {
   color: #01475b;
   font-size: 16px;
   font-weight: 500;
   padding-top: 9px;
   border-bottom: #00889e;
}

.MuiInputBase-input {
   font: inherit;
   color: currentColor;
   width: 100%;
   border: 0;
   height: 1.1876em;
   margin: 0;
   display: block;
   padding: 6px 0 7px;
   min-width: 0;
   background: none;
   box-sizing: content-box;
   animation-name: mui-auto-fill-cancel;
   letter-spacing: inherit;
   animation-duration: 10ms;
   -webkit-tap-highlight-color: transparent;
   /* border-bottom: #007c93; */
}

.jss398 {
   width: 100%;
   margin: 0 -10px;
   display: flex;
   padding: 10px 0 10px;
   list-style: none;
   overflow-x: auto;
   align-items: center;
}
.jss398 li {
   padding: 0 8px;
   text-align: center;
}
.jss398 li a {
   color: #06ac8b;
   border: 1px solid #D8D8D8;
   display: block;
   padding: 2px 8px;
   font-size: 13px;
   font-weight: bolder;
   min-width: 50px;
   background: #ffffff;
   font-weight: 500;
   white-space: nowrap;
   border-radius: 5px;
}
.jss136 {
   color: #00a7b9;
   margin: 10px 0;
   font-size: 16px !important;
   min-height: 24px;
   font-weight: bold;
}

.jss148 {
   cursor: pointer;
   height: 200px;
   margin: 20px 0;
   overflow: hidden;
   border-radius: 5px;
}
#topFec{
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   width: 100%;
   /* border: 2px solid green; */
   display: flex;
   justify-content:space-between ;
}
#topFec div{
   /* box-sizing:initial; */
   /* border: 2px solid rgb(128, 0, 28); */
   width: 23%;
   height: 200px;
   /* justify-content: au; */
   border-radius: 7px;
   background-color: #fff;
}
#topFec img{
   /* margin-left: 30px; */
   width: 45px;
   height: 40px;
}
#forthimg{
   margin-left: 45px;
}

#topFec p{
   text-align: center;
}
#topFec p:nth-child(1){
   color: #003a44;
   font-weight: bolder;
}
#topFec p:nth-child(4){
   color: #003a44;
   font-size: 14px;
   font-weight: bolder;
}
#topFec p:nth-child(3){
   color: #1f7b8b;
   font-size: 12px;
   font-weight: bold;
}
#gridbox{
   display: grid;
   grid-template-columns: repeat(2,48%);
   grid-template-rows: 110px 110px 110px 110px ;
   /* border: 1px solid purple; */
   grid-gap: 20px;
}
#inner-grid-box{
   /* border: 1px solid purple; */
   display: flex;
   border-radius: 8px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   background-color: #fff;
}
#inner-grid-box-left{
   width: 25%;
   /* border: 1px solid purple; */
}
#inner-grid-box-left img{
   width: 60px;
   height: 60px;
}
#inner-grid-box-right{
   width: 75%;
   height: 150px;
   /* border: 1px solid purple; */
}
#inner-grid-box-right p{
   font-size: 12px;
   line-height: 8px;

}
#inner-grid-box-right p:nth-child(1){
   color: #003a44;
   font-size: 15px;
   font-weight: 400px;
   line-height: 15px;

}
#inner-grid-box-right p:nth-child(2){
   color: #3c818d;
   font-size: 14px;
   font-weight: bolder;
}
#inner-grid-box-right p:nth-child(4){
   color: #003a44;
   font-weight: bolder;
   font-size: 13px;
}
/* ////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
#mainrightbox{
   padding: 10px;
   flex-grow: 0;
   max-width: 33.333333%;
   flex-basis: 33.333333%;
   /* border:3px solid #93002c; */
   margin-left: 20px;
  height: 950px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 7px;
   /* height: 500px; */
}
/* //////////////////// */
.rightboxfirst {
   padding: 20px;
   font-size: 14px;
   width: 290px;
   min-height: 200px;
   font-weight: 500;
   line-height: 23px;
   border-radius: 5px;
   background-color: #fff;
}

#buttonbox{
   display: flex;
justify-content: space-evenly; 
}
   #buttonbox button{
       border: 7px;
       padding: 13px 30px;
       font-size: 13px;
       font-weight: bolder;
       box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
       background-color: rgb(245, 243, 243);
       /* color: #007c93; */
   }
   #imgbox{
       display: flex;
      
       justify-content: space-evenly;
   }
   #imgbox h4{
       margin-left: 20px;
   }
   .rightboxthird {
   margin: 20px 0;
   padding: 20px 0;
   border-top: 1px solid #eeeeee;
   border-bottom: 1px solid #eeeeee;
}
.rightboxthird1 {
   margin: 0;
   padding: 0;
   list-style: none;
}
.rightboxthird1 li {
   display: flex;
   padding: 5px 0;
   align-items: center;
}
.rightboxthird1 li p {
   color: rgba(6, 77, 97, 0.6);
   margin: 0 0 0 15px;
   font-size: 16px;
   font-weight:bold;

}
.rightboxthird2 p {
   color: rgb(1, 71, 91, 0.6);
   font-size: 16px;
   font-weight: bold;
   line-height: 18px;
   margin-bottom: 10px;
   padding-right: 20px;
}
.Downlode1 {
   display: flex;
   align-items: center;
   /* border: 2px solid green; */
}
.Downlode1 img {
width: 70px;
height: 70px;
}
.Downlode1 button {
   flex: 1;
   font-size: 22px;
   font-weight: bolder;
   color: #fc9916;
   border: 1px solid transparent;
   margin-left: 16px;
   background-color: transparent;
}
#rightbox{
   border-radius: 5px;
   background-color: #fff;
}